/*
  * --------------------------------------------
  *  Nextflow config file for TCGA_MAF-VCF-genes
  * --------------------------------------------
 * Default config options for all environments.
 */

params {

  container = 'shub://bruce.moran/default/projects:tcga_maf.centos7.conda'

}

profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = 'pipeline_info/tcga_maf.timeline.html'
}

report {
  enabled = true
  file = 'pipeline_info/tcga_maf.report.html'
}

trace {
  enabled = true
  file = 'pipeline_info/tcga_maf.trace.txt'
}

dag {
  enabled = true
  file = 'pipeline_info/tcga_maf.dag.svg'
}
